.object-container {
    height: 70vh !important;
    overflow-y: visible;
}

.format-button {
    display: inline-grid;
    padding: 0.05rem;
    font-size: small;
    border-radius: 0.3rem;
    height: 1.75rem ;
}

.grid-trigger_message {
    display: inline-flex;
    justify-content: right;
    padding-right: 0.5rem;
}

.field-content {
    height: calc(70vh - 8rem) !important;
}

.gradient-background {
    height: 4rem !important;
    border-radius: 0.25rem;
    background-image: linear-gradient(rgba(210,235,247,1) 0%, #F0F8FF 100%);
}

.gradient-reverse {
    height: 3rem !important;
    border-radius: 0.25rem;
    background-image: linear-gradient(#F0F8FF 0%, rgba(210,235,247,1) 100%);
}

.request-lookup {
    width : 100% !important
}

.plain-tooltip .slds-form-element__icon {
    padding-right: 0.2rem;
    vertical-align: text-bottom;
    padding-bottom: 0.2rem;
}